.cover__link {
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../../images/trainbaikal.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    max-width: 1184px;
    min-height: 740px;
    align-items: center;
    background-position: center;
}

.cover__link:hover {
    background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../../images/trainbaikal.jpg);
}

/* 1024px-1279px*/
@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }
  }



/* 768px-1023px*/
@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
  }

/* 320px-767px*/
  @media screen and (max-width: 767px) {
    .cover__link {
        min-height: 200px;
    }
}

