.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    max-width: 484px;
    margin: 0;
    padding-bottom: 27px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

/* 1024px-1279px */
@media screen and (max-width: 1279px) {
    .place__paragraph  {
        max-width: 456px;
    }
  }

/* 768px-1023px */
@media screen and (max-width: 1023px) {
    .place__paragraph  {
        max-width: 352px;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 26px;
    }
  }
  
  /* 320px-767px */
  @media screen and (max-width: 767px) {
    .place__paragraph  {
        max-width: 288px;
        padding: 0 16px 25px 16px;
    }
  }