.footer__copyrights {
  font-style: normal;
  font-weight: 400;
  max-width: 186px;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
  
  /* 320px-767px */
  @media screen and (max-width: 767px) {
    .footer__copyrights   {
        font-size: 14px;
        line-height: 14px;
        max-width: 186px;
    }
  }